---
# Kafka Installation Defaults

# Installation Paths
kafka_home: /opt
kafka_workspace: "{{ kafka_home }}/kafka"
kafka_data_dir: "{{ kafka_workspace }}/data"
kafka_log_dir: "{{ kafka_data_dir }}"
kafka_log_dirs: "{{ kafka_data_dir }}"
services_logs_dir: "{{ kafka_workspace }}/services-logs"

# KRaft Configuration
kafka_process_roles: "broker,controller"
kafka_node_id: 1
kafka_controller_port: 9093
kafka_client_port: 9092
kafka_external_port: 9094
kafka_version: "3.9.1"

# JVM Heap Size
kafka_heap_size: "-Xmx2G -Xms2G"

# Kafka Exporter Configuration
kafka_exporter_version: "1.8.0"
kafka_exporter_port: 9308
kafka_exporter_download_url: "https://github.com/danielqsj/kafka_exporter/releases/download/v{{ kafka_exporter_version }}/kafka_exporter-{{ kafka_exporter_version }}.linux-amd64.tar.gz"

# Node Exporter Configuration
node_exporter_version: "1.8.1"
node_exporter_port: 9100
node_exporter_download_url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"

# Prometheus Configuration
prometheus_sd_output_path: "inventory/prometheus/kafka_targets.json"

# Kafka Download URL (for setenv role)
kafka_url: "https://downloads.apache.org/kafka/{{ kafka_version }}/kafka_2.13-{{ kafka_version }}.tgz"

# Controller Quorum (dynamically generated in tasks, not hardcoded)
kafka_controller_quorum_voters: ""  # computed by playbooks

# Replication
kafka_offsets_topic_replication_factor: 3
kafka_transaction_state_log_replication_factor: 3
kafka_transaction_state_log_min_isr: 2
kafka_default_replication_factor: 3
kafka_min_insync_replicas: 2

# Network
kafka_num_network_threads: 8
kafka_num_io_threads: 16
kafka_socket_send_buffer_bytes: 102400
kafka_socket_receive_buffer_bytes: 102400
kafka_socket_request_max_bytes: 104857600

# Log Retention
kafka_log_retention_hours: 168
kafka_log_segment_bytes: 1073741824
kafka_log_retention_check_interval_ms: 300000
