[Unit]
Description=Apache Kafka Broker (KRaft)
Requires=network.target
After=network.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_size }}"
ExecStart={{ kafka_workspace }}/bin/kafka-server-start.sh {{ kafka_workspace }}/config/server.properties
ExecStop={{ kafka_workspace }}/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=5
LimitNOFILE=131072
StandardOutput=append:{{ services_logs_dir }}/kafka.log
StandardError=append:{{ services_logs_dir }}/kafka-error.log
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
